body{
    font-family: Archivo Narrow;
}
.main-nav{
    list-style: none;
}

.main-nav a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.main-nav a:last-child{
    margin-right: 30px;
}

.nav-logo{
    width: 266px;
}
.nav-bar{
    padding: 25px;
    margin-bottom: 4rem;
    background-color: #dde7cc;
    border-bottom: 2px solid lightgray;
}

.main-header{
    margin-bottom: 3rem;
}

.ingredient-card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    width: 75%;
    margin-top: 2rem;
    padding: 20px;
}

.ingredient-card img{
    border-radius: 50%;
    width: 50%;
}

.ingredient-card h6{
    margin-top:.5rem;
}
#ingredient-container{
}

.fa-add:before, .fa-plus:before {
    color: black;
}
