{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <div class="col-12 main-header">
            <h1>Welcome {{ g.user.username }}</h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-3">
            <div class="row">
                <div class="col-lg-12">
                    <p>test 1</p>
                </div>
                <div class="col-lg-12">
                    <p>test 2</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h5>Your Ingredients</h5> 
            <div class="item-container">
                
            </div>
        </div>
        <div class="col-lg-3">
            <p>test 4</p>
        </div>
    </div>
</div>
{% endblock %}